// Light mode
$green: #bfd630;
$mediumGreen: darken($green, 28%);
$darkGreen: darken($green, 35%);
// dark mode
$purple: #5f4b73;
$mediumPurple: darken($purple, 28%);
$darkPurple: darken($purple, 35%);
