.columns {
  .left,
  .right,
  .center {
    height: 100%;
  }
  .left {
    width: 15%;
    align-self: flex-start;
  }
  .center {
    width: 70%;
    align-self: flex-end;
  }
  .right {
    width: 15%;
    align-self: center;
  }
}
.rotate-ninety {
  transform: rotate(90deg);
}

.vessel-name {
  font-size: 64px;
  line-height: 1;
  padding: 0;
  margin: 0;
  position: absolute;
  right: -100px;
}
